*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
    max-width: 95%;
    margin: 0 auto;
}

.content-wrapper{
    background: #1B2026;
}

.nav-link:hover{
    color: #F8C237 !important;
}

.active{
    color: #F8C237 !important;
    font-weight: 800;
}

/* Hero Section */

.hero-card{
    padding: 0.2em;
    background: #232a34;
    border-radius: 10px;
}

.card-button{
    font-size: 12px;
    padding: 0.5em;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F8C237;
    font-weight: 800;
}

/* Category Item */

.category-item{
    background: #232a34;
    padding: 0;
    padding-bottom: 0px;
    border-radius: 10px;
}

/* User List Item */

.user-list-item{
    border-radius: 50px;
    background: #1B2026;
    padding-top: 0.5em !important;
    padding-bottom: -20px !important;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 10px;
}

.number{
    background: #232a34;
    border-radius: 50%;
    padding: 0.6em 1em 0 1em;
    font-size: 13px;
    margin-left: -10px;
    margin-top: -2px;
    margin-bottom: 5px;
}
