*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #1E1E1E;
}

.content-wrapper{
	background: #1E1E1E;
}

section{
	padding: 20px 0;
}

.container{
	max-width: 80%;
	margin: 0 auto;
}

.yellow-btn{
	color: #000;
	padding: 0.5em 1em;
	background: #F8C237;
	border: unset;
	outline: unset;
	border-radius: 5px;
	font-weight: 700;
}

/* Gradient Section */

.gradient-box{
	background: linear-gradient(-45deg, #4300a1, #e73c7e, #cf23d5, #2623d5);
	background-size: 400% 400%;
    border-radius: 20px;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Payments section */

.payments{
	background: #15191c;
	border-radius: 20px;
}

/* Betting Section */

.betting{
	background: #15191c;
	padding: 1em;
	border-radius: 20px;
}

/* FAQ */

.faq{
	background: #15191c;
	padding: 1em;
	border-radius: 20px;
}

.faq-item{
	background: #1C1E22;
	color: #fff;
	padding: 1em;
	margin-bottom: 15px;
	border-radius: 20px;
}

.faq-heading{
	font-size:x-large;
}

/* latest section */

.latest{
	background: #15191c;
	padding: 1em;
	border-radius: 20px;
}

.latest-item{
	background: #1C1E22;
	color: #fff;
	padding: 1em;
	border-radius: 20px;
}

/* contact us */

.contact-us{
	background: #15191c;
	padding: 1em;
	border-radius: 20px;
}


/* footer */

footer {
    background: #1B2026;
}

.footer-wrapper {
    padding: 50px 0;
}

.footer-desc {
    color: rgba(255, 255, 255, 0.83);
    font-size: 14px;
}

.footer-list-head {
    color: #F8C237;
    font-size: 14px;
    font-weight: 800;
}

.footer-list {
    list-style-type: none;
}

.footer-list li {
    margin: 20px 0;
}

.footer-list li a{
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    text-decoration: none;
}

.footer-list li a:hover{
    color: #F8C237;
}

.footer-bottom {
    background: #232a34;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.83);
}
